@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');


body{
  background-image: url('https://i.pinimg.com/1200x/8e/de/1d/8ede1dd0e3683e256b30b5216b11bfc5.jpg'); 
  background-repeat: no-repeat;
  background-size: 100%;
}

h1,h3,p{font-family: 'Bungee Spice', cursive;
  text-align:center;}
h3{
  display: table;
  margin: 0px auto 0px auto;
  background-color: black;
}

button{
  background-color: powderblue;
  color: indigo;
  font-weight: bold;
  font-family: 'Rubik Iso', cursive;

}

#gameOutput{
   font-size: 30px; 
   font-weight: bold;
   text-align: center;
   font-family: 'Nabla', cursive;
}


img
{
  width: 30%;
}